# Data (tracked via DVC instead)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep
!models/explainability/
!models/explainability/*.png
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Env
.env

# OS
.DS_Store
Thumbs.db
mlflow.db
mlruns/